<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Bootstrap Simple Data Table</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script src="main.js"></script>


</head>
<body>
  <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Контрольные карты</a>
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        Добавить
      </button>
      <span class="navbar-text">
        Панаскин Алексей 201-323
      </span>

    </div>
  </nav>

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>

        </div>

        <div class="modal-body">       
          <div class="modal-split">
            <h2>Данные сотрудника ОТК</h2>

            <div class="form-outline">
              <label class="form-label" for="employee">ФИО сотрудника</label>
              <input type="text" id="employee" class="form-control" />
              <label class="form-label" for="employee_role">Должность </label>
              <input type="text" id="employee_role" class="form-control" />

              <div class="form-outline">
                <label class="form-label" for="report_date">Дата</label>
                <input type="date" id="report_date" class="form-control" />
              </div>
            </div>
          </div>

          <div class="modal-split">
            <h2>Карта качества продукции</h2>
            <div class="form-outline">
              <label class="form-label" for="prod_name">Наименование продукции</label>
              <input type="text" id="prod_name" class="form-control" />
            </div>

            <div class="form-outline">
              <label class="form-label" for="prod_text">Условное обозначение продукции</label>
              <input type="text" id="prod_text" class="form-control" />
            </div>

            <div class="form-outline">
              <label class="form-label" for="prod_code">Код продукции</label>
              <input type="text" id="prod_code" class="form-control" />
            </div>

            <div class="form-outline">
              <label class="form-label" for="prod_developer">Предприятие разработчик</label>
              <input type="text" id="prod_developer" class="form-control" />

              <div class="form-outline">
                <label class="form-label" for="prod_releaser">Предприятие изготовитеь</label>
                <input type="text" id="prod_releaser" class="form-control" />
              </div>
            </div>

            <div class="form-outline">
              <label class="form-label" for="prod_description">Назначение и область применения
                продукции</label>
              <textarea class="form-control" id="prod_description" rows="3"></textarea>
            </div>

            <div class="form-outline">
              <label class="form-label" for="prod_develop_date_start">Дата начала разработки</label>
              <input type="date" id="prod_develop_date_start" class="form-control" />

              <label class="form-label" for="prod_develop_date_end">Дата окночания разраотки</label>
              <input type="date" id="prod_develop_date_end" class="form-control" />
            </div>

            <label class="form-label" for="prod_radio">Характеристка продукции</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="Для типового представителя при разработке КУ на типоразмерный ряд" checked/>
              <label class="form-check-label" for="exampleRadios1">
                Для типового представителя при разработке КУ на типоразмерный ряд
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="Другие случаи"/>
              <label class="form-check-label" for="exampleRadios2">
                Другие случаи
              </label>
            </div>

            <hr>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios2" id="2" value="industrialGoods" checked>
              <label class="form-check-label" for="exampleRadios2">
                Для продукции производственно-технического назначения
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios2" id="exampleRadios2" value="consumerGoods">
              <label class="form-check-label" for="exampleRadios2">
                Для товаров народного потребления
              </label>
            </div>

            <div>
              <label class="form-label">Эскизное изображение</label>
              <input class="form-control" id="prod_File" type="file" style="border: 0;">
            </div>
          </div>

          <div id="referenceData" class="modal-split">
            <h2>Объем партии и выборки</h2>        
            <div class="input-group">
              <span class="input-group-text">Объем партии – Объем выборки</span>
              <input id="consignment" type="text" aria-label="Показатель" class="form-control">
              <input id="factCount" type="text" name="factCount" class="form-control">
            </div>

            <h2>Эталонные характеристики и показатели </h2>

            <button id="btn_add_reference">Добавить ещё</button>
          </div>
      
          <div id="factData" class="modal-split">
            <h2>Фактические характеристики и показатели </h2>
            <table id="factTable" class="table">
              <thead>
              </thead>
              <tbody>      
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-cols-3 row-cols-md-3 g-4" style="padding: 2%;">
    
    <div class="card">
      <img src='/<%= part['prod_file']%>' class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= part['prod_name'] %></h5>
        <p class="card-text"><%= part['prod_text']%> - <%= part['prod_code'] %></p>
        <p class="card-text"><%= part['employee_name']%> - <%= part['employee_role'] %> - <%= new Date(part['report_date']).toLocaleDateString('ru-RU') %></p>
        <p class="card-text">Разработано - <%= part['prod_developer']%> - <%= new Date(part['prod_develop_date_start']).toLocaleDateString('ru-RU') %></p>
        <p class="card-text">Изготовлено - <%= part['prod_releaser']%> - <%= new Date(part['prod_develop_date_end']).toLocaleDateString('ru-RU') %></p>
        <p class="card-text">Назначение и область применения продукции: <%= part['prod_description']%> </p>
        <p class="card-text">Характеристка продукции:</p>
        <p class="card-text"><%= part['prod_chr1']%> </p>
        <p class="card-text"><%= part['prod_chr2']%> </p>
      </div>

      <div id="factData" class="modal-split">
        <h2>Фактические характеристики и показатели </h2>
        <table id="factTable" class="table">
          <thead>
            <tr>
              <% for (let i = 0; i < table[0].values.length; i++) { %>
                <th>
                  <%= table[0].values[i] %>
                </th>
              <% } %>
            </tr>
          </thead>
          <tbody>
            <% for (let i = 1; i < table.length; i++) { %>
              <% if(table[i].isDefect == true) { %>
                <tr style="background-color: rgb(255, 150, 150);">
                <% } else if(table[i].isDefect == false) { %>
                <tr style="background-color: rgb(145, 255, 145);">
                <% } else { %>
                <tr>
                <% } %>
                <% for (let j = 0; j < table[i].values.length; j++) { %>
                  <td>
                    <%= table[i].values[j] %>
                  </td>
                <% } %>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>

</body>
</html>